<head>
    <script type="text/javascript" async
        src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
            inlineMath: [['$','$']]
            }
        });
    </script>
    <style>
        /* Increase paragraph spacing and readability for markdown content */
        .markdown-body p {
            margin: 0 0 1em 0;
            line-height: 1.75;
        }

        .markdown-body ul,
        .markdown-body ol {
            margin-top: 0.5em;
            margin-bottom: 1em;
        }

        .markdown-body img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>